body {
  font-family: sans-serif;
}

/* Make content area fill the entire browser window */
html,
.fullscreen {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
.container {
  margin: auto;
  text-align: center;
}

.title {
  font-size: 3rem;
}

.message-style {
  padding: 10px 20px;
  border-radius: 15px;
  background-color: #8BDB3A;
  color: #535050;
  word-break: break-all;
  white-space: pre-wrap;
  text-align: left;
}

#text-message > input{
  height: 100%;
}
